geopandas==0.13.2
pandas==1.5.3
pandas-datareader==0.10.0
pandas-gbq==0.17.9
pandas-stubs==1.5.3.230304
sklearn-pandas==2.2.0
numpy==1.23.5
tensorflow==2.14.0
tensorflow-datasets==4.9.3
tensorflow-estimator==2.14.0
tensorflow-gcs-config==2.14.0
tensorflow-hub==0.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-metadata==1.14.0
tensorflow-probability==0.22.0
keras==2.14.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
matplotlib-venn==0.11.9
yfinance==0.2.31
pymongo==4.6.0
