@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');


.signupform{
    height: 100vh;
    width: 100vw;
    display: flex;
    /* flex-direction: row; */
    overflow-x: hidden;
}
.left {
   background-image: linear-gradient(-45deg,  purple, rgb(53, 5, 53) );
   justify-items: center;
   align-items: center;
   width: 40vw;
   height: 120vh;
}

.text-header {
   font-family: 'Poppins', sans-serif;
   max-width: 5;
   font-size: 2em;
   font-weight: 700;
}

.image-hero {
   width: 30vw;
   
}
.right{
    width: 60vw;
    height: 100vh;
    /* padding-left: 5vw; */

}
.quote-main {
   font-family: 'Poppins', sans-serif;
}

.logo-main {
   height: 8rem;
}

.button-signup {
   font-family: 'Poppins', sans-serif;
}

.text-small {
   max-width: 5;
   font-family: 'Poppins', sans-serif;
   /* font-weight: bold; */
}
.text-center{
    font-family: 'Poppins', sans-serif;
}
.text-medium{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.form-edit{
    width: 50vw;
}
::placeholder {

   padding: 10px;
}

::-webkit-input-placeholder {
   /* Edge */
   padding: 10px;
}

:-ms-input-placeholder {
   /* Internet Explorer 10-11 */
   padding: 10px;
}
.colorChange{
    color:purple;
    font-weight:bolder;
    font-family: 'Poppins', sans-serif;
}
.already{
   padding: 10;
}



.form-control {
   width:96%;
}

.form-control-login {
   width:50%;
}

@media (max-width: 620px) {
   .signupform {
       flex-direction: column;
   }
   .left{
      height: 20vh;
      justify-content: center;
   }
   .image-hero{
      display: none;
   }
   .text-header{
      font-size: 25px;
   }
   .right {
      width: 100%;
   }
   .form-control-login {
      width:100%;
   }
   .sizing{
      width: 200vw;
   }
}