@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

.home-logo {
    height: 75px;
    width: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.home-logo:hover{
    cursor: pointer;
}

.nav-button {
    
    border-radius: 15px;
    background-color: #962B92;
    font-weight: bold;
    padding: 4px 11px;
    margin-left: 30px;
    height: 50px;
    width: 150px;
    
}

.nav-text {
    font-weight: bold;
    margin-left: 50px;
    font-size: 1.2rem;
    
}

.nav-border {
    border: 2px solid black;
    border-left-style: none;
    border-right-style: none;
}


.navbar-ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    list-style: none;
}


/* Underline styles */
.nav-link {
	display: block;
	position: relative;
	padding: 0.2em 0;
}

/* Fade in */
.nav-link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: #962B92;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.nav-link:hover::after,
.nav-link:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.1em, 0);
}

.specialClass::after{
    opacity: 1;
	transform: translate3d(0, 0.1em, 0);
}