.wishlist-container {
    min-height: calc(80vh - 80px); 
    overflow-y: auto; 
    overflow-x: hidden;
}

.wishlistHeader {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    margin-top: 20px;
}