.wishlist-header {
    color: white;
    background-color: rgb(172, 0, 172); 
    width: 250px; 
    margin: 30px auto;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 10px; 
}

.wishlist-container {
    min-height: calc(80vh - 80px); 
    overflow-y: auto; 
}

.wishlistHeader {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
}
