.a {
    text-align: center;
    color: purple;
    padding-top: 50px;
    font-size: 30px;
}

.b {
    font-size: 40px;
    text-wrap: wrap;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.line {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.d {
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font-weight: bold;
}

.e {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 50%;
    align-items: center;
    margin-left: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    padding-bottom: 50px;
}


.f {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.card {
    flex: 1;
    min-width: calc(33.33% - 20px);
    /* 2 cards per row with spacing */
    padding: 20px;
    margin: 10px;
    align-items: center;
    border: 0;
}

.img1 {
    width: 100px;
    /* Adjust the image size as needed */
    height: auto;

}

.title {
    font-size: 20px;
    margin-top: 10px;
}

.disc {
    font-size: 16px;
    margin-top: 10px;
    color: grey;
}


.g{
    text-align: center;
    font-size: 60px;
    padding: 20px;
    font-weight: bold;
}

/* 

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-color: #EFEFEF;
}
.slide-container {
max-width: 1120px;
width: 100%;
background-color: grey;
I
padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
}
.card{
width: 320px;
border-radius: 25px;
background-color: #FFF;
}
.image-content,
.card-content{
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding : 25px 0;
    
}
.overlay {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: #4070F4;
border-radius: 25px 25px 0 25px; 
}
.overlay: :before,
.overlay::after{
content: '';
position: absolute;
right: 0;
bottom: -40px;
I
height: 40px;
width: 40px;
background-color: #4070F4;
}
.overlay::after{
border-radius: 0 25px 0 0;
background-color: #FFF;
}
.card-image{
position: relative;
height: 150px;
width: 150px;
border-radius: 50%;
background-color: #fff;
padding: 3px;
}
.card-image .card-img{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 50%;
border: 4px solid blue;
} 
.name{
font-size: 18px;
font-weight: 500;
color: #333;
}
.description{
font-size: 14px;
color: #707070;
text-align: center;
}




 */
