<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP for SignUp</title>
    <style>
    body {
      font-family: Futura,Trebuchet MS,Arial,sans-serif;
      background-color: #f0f0f0;
      color: #333;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .header {
      background-color:rgb(172, 0, 172);
      color: white;
      padding: 10px;
      border-radius: 10px;
    }

    .content {
      padding: 7px;
      font-size: 16px; 
    }

    p {
      margin-bottom: 15px;
      line-height: 1.6;
    }

    .footer {
      padding: 10px;
      border-radius: 10px;
      color: grey;
      text-align: center;
      /*margin-top: 15px;*/
      font-size: 14px;
    }
    </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Bear & Bull</h1>
    </div>

    <div class="content">
      <p>Hi Sir/Madam,</p>

      <p>Thank you for choosing Bear & Bull. Get the latest update on the stocks using our application!</p>
      <p> Use the following OTP to complete your Sign Up procedures. OTP is valid for 3 minutes</p>
      <h2 style="background: rgb(172, 0, 172); margin: 0 auto; width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{demo.otp}}</h2>
    </div>

    <div class="footer">
      <p>Thank you for choosing our services!</p>
      <p>Best regards,<br>Bear & Bull</p>
    </div>
  </div>
</body>
</html>